
{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        
        

        <div class="text">

            <h1 class="display-4">Friend Zone</h1>
            <p class="lead">
                <b>Welcome!</b> Plese click below to sign in or make an account if you haven't yet.
            </p>
        </div>
        
        <div class="floatRight">
            <img src="/static/images/logo.jpg" alt="Broken image" style="width:25%;height:25%">
        </div>

        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

    <style>

        .floatRight img{
            padding-left: 20px;
            top: -165px;
            position: relative;
            right: 10px;
            float: right;
            
            }
        
        .text {
            padding-left: 20px;
            

            }

        </style>
        
        <!--
            text
            font-size: 20px;
            padding-left: 20px;
            padding-top: 20%;


            img
            display: -webkit-box;
            margin-left: auto;
            float: right;
            top: -150px;
            position: relative;
            right: -90px;
            width:250px;-->

{% endblock content %}

